## Exercise
Using data `german_credit_data.csv` from the previous lesson, build ensemble learning models to predict credit risk.

* Import all the Python dependencies you will be needing for this exercise.

In [1]:
# YOUR CODE HERE

* Load the dataset in a DataFrame object.

In [ ]:
# YOUR CODE HERE

In [2]:
# DON'T WRITE HERE

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

* Get some statistics about the data using Panda's `describe()` and `info()` functions.

In [ ]:
# YOUR CODE HERE

In [3]:
# DON'T WRITE HERE

               Age          Job  Credit amount     Duration
count  1000.000000  1000.000000    1000.000000  1000.000000
mean     35.546000     1.904000    3271.258000    20.903000
std      11.375469     0.653614    2822.736876    12.058814
min      19.000000     0.000000     250.000000     4.000000
25%      27.000000     2.000000    1365.500000    12.000000
50%      33.000000     2.000000    2319.500000    18.000000
75%      42.000000     2.000000    3972.250000    24.000000
max      75.000000     3.000000   18424.000000    72.000000

In [ ]:
# YOUR CODE HERE

In [4]:
# DON'T WRITE HERE

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 85.9+ KB

* Label encoding for columns `Sex` and `Risk`.

In [ ]:
# YOUR CODE HERE

In [6]:
# DON'T WRITE HERE

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,1,2,own,NaN,little,1169,6,radio/TV,1
1,22,0,2,own,little,moderate,5951,48,radio/TV,0
2,49,1,1,own,little,NaN,2096,12,education,1
3,45,1,2,free,little,little,7882,42,furniture/equipment,1
4,53,1,2,free,little,little,4870,24,car,0

* Convert age to category, add to new column `Cat Age`.

In [ ]:
# YOUR CODE HERE

In [7]:
# DON'T WRITE HERE

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Cat Age
0,67,1,2,own,NaN,little,1169,6,radio/TV,1,50-75
1,22,0,2,own,little,moderate,5951,48,radio/TV,0,0-25
2,49,1,1,own,little,NaN,2096,12,education,1,40-50
3,45,1,2,free,little,little,7882,42,furniture/equipment,1,40-50
4,53,1,2,free,little,little,4870,24,car,0,50-75

* Use `get_dummies` method to make one-hot-encoding for columns: `Housing`, `Saving accounts`, `Checking account`, `Purpose` and `Cat Age`.

In [ ]:
# YOUR CODE HERE

In [8]:
# DON'T WRITE HERE

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,...,furniture/equipment,radio/TV,repairs,vacation/others,0-25,25-30,30-35,35-40,40-50,50-75
0,67,1,2,own,NaN,little,1169,6,radio/TV,1,...,0,1,0,0,0,0,0,0,0,1
1,22,0,2,own,little,moderate,5951,48,radio/TV,0,...,0,1,0,0,1,0,0,0,0,0
2,49,1,1,own,little,NaN,2096,12,education,1,...,0,0,0,0,0,0,0,0,1,0
3,45,1,2,free,little,little,7882,42,furniture/equipment,1,...,1,0,0,0,0,0,0,0,1,0
4,53,1,2,free,little,little,4870,24,car,0,...,0,0,0,0,0,0,0,0,0,1

* Drop unnecessary columns: `Housing`, `Saving accounts`, `Checking account`, `Purpose` and `Cat Age`.

In [ ]:
# YOUR CODE HERE

In [9]:
# DON'T WRITE HERE

,Sex,Job,Credit amount,Duration,Risk,free,own,rent,little,moderate,...,furniture/equipment,radio/TV,repairs,vacation/others,0-25,25-30,30-35,35-40,40-50,50-75
0,1,2,1169,6,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,2,5951,48,0,0,1,0,1,0,...,0,1,0,0,1,0,0,0,0,0
2,1,1,2096,12,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,2,7882,42,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
4,1,2,4870,24,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

* Separated data as train and test (20% of data is test data, random_state=42).

In [10]:
# YOUR CODE HERE

* Apply standart scaling for `X_train` and `X_test`.

In [11]:
# YOUR CODE HERE

* Build Bagging meta-estimator model.

In [ ]:
# YOUR CODE HERE

In [12]:
# DON'T WRITE HERE

Accuracy:  0.7


Confusion matrix:
 [[ 28  31]
 [ 29 112]]


Classification report:
               precision    recall  f1-score   support

           0       0.49      0.47      0.48        59
           1       0.78      0.79      0.79       141

    accuracy                           0.70       200
   macro avg       0.64      0.63      0.64       200
weighted avg       0.70      0.70      0.70       200

* Build Random Forest model.

In [ ]:
# YOUR CODE HERE

In [13]:
# DON'T WRITE HERE

Accuracy:  0.745


Confusion matrix:
 [[ 23  36]
 [ 15 126]]


Classification report:
               precision    recall  f1-score   support

           0       0.61      0.39      0.47        59
           1       0.78      0.89      0.83       141

    accuracy                           0.74       200
   macro avg       0.69      0.64      0.65       200
weighted avg       0.73      0.74      0.73       200

* Build AdaBoost model.

In [ ]:
# YOUR CODE HERE

In [14]:
# DON'T WRITE HERE

Accuracy:  0.665


Confusion matrix:
 [[ 26  33]
 [ 34 107]]


Classification report:
               precision    recall  f1-score   support

           0       0.43      0.44      0.44        59
           1       0.76      0.76      0.76       141

    accuracy                           0.67       200
   macro avg       0.60      0.60      0.60       200
weighted avg       0.67      0.67      0.67       200

* Build Gradient Boosting model.

In [ ]:
# YOUR CODE HERE

In [15]:
# DON'T WRITE HERE

Accuracy:  0.735


Confusion matrix:
 [[  6  53]
 [  0 141]]


Classification report:
               precision    recall  f1-score   support

           0       1.00      0.10      0.18        59
           1       0.73      1.00      0.84       141

    accuracy                           0.73       200
   macro avg       0.86      0.55      0.51       200
weighted avg       0.81      0.73      0.65       200

* Build XGBoost model.

In [ ]:
# YOUR CODE HERE

In [16]:
# DON'T WRITE HERE

Accuracy:  0.78


Confusion matrix:
 [[ 29  30]
 [ 14 127]]


Classification report:
               precision    recall  f1-score   support

           0       0.67      0.49      0.57        59
           1       0.81      0.90      0.85       141

    accuracy                           0.78       200
   macro avg       0.74      0.70      0.71       200
weighted avg       0.77      0.78      0.77       200

* Build Stacking model.

In [ ]:
# YOUR CODE HERE

In [17]:
# DON'T WRITE HERE

Accuracy:  0.695


Confusion matrix:
 [[43 16]
 [45 96]]


Classification report:
               precision    recall  f1-score   support

           0       0.49      0.73      0.59        59
           1       0.86      0.68      0.76       141

    accuracy                           0.69       200
   macro avg       0.67      0.70      0.67       200
weighted avg       0.75      0.69      0.71       200

* <b>Bonus</b>: Use `GridSearchCV` to find the best Hyper Parameters and re-build each model.