## Housing Price Prediction

The dataset we had to meet in lesson 2. In lesson 3, we will apply 3 machine learning model: Linear Regression, Decision Tree and Random Forest for housing price dataset

### Step I. Read our dataset from csv file

In [10]:
import pandas as pd

In [1]:
# TO DO use panda to read file csv from the path `./data/house_data.csv`

In [ ]:
# TO DO show out the shape of the dataset

In [70]:
# DON'T CODE IN THIS LINE

(21613, 21)

In [2]:
# TO DO show 5 first rows of the dataset using `head()`

In [72]:
# DON'T CODE IN THIS LINE

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Dataset contains:

Id: a notation for a house

Date: Date house was sold

Price: Price is prediction target

Bedrooms: Number of Bedrooms/House

Bathrooms: Number of bathrooms/House

Sqft_Living: square footage of the home

Sqft_Lot: square footage of the lot

Floors: Total floors (levels) in house

Waterfront: House which has a view to a waterfront

View: Has been viewed

Condition: How good the condition is ( Overall )

Grade: overall grade given to the housing unit, based on King County grading system

Sqft_Above: square footage of house apart from basement

Sqft_Basement: square footage of the basement

Yr_Built: Built Year

Yr_Renovated: Year when house was renovated

Zipcode: Zip

Lat: Latitude coordinate

Long: Longitude coordinate

Sqft_Living15: Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area

Sqft_Lot15: lotSize area in 2015(implies-- some renovations)

### Step II. Data Clearning

In [ ]:
# TO DO show the information of the datasets using `info()`

In [74]:
# DON'T CODE IN THIS LINE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

TO DO: What do you see?

Write down here

### Step III. Exploratory Data Analytics (EDA)

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

Let's now forward with data visualization using a pairplot

In [7]:
# TO DO visualize the price target feature and some feature you think it is important using seaborn pairlot

#### Co relation between Variables

We wil use heatmap to view the co relation between variables

In [8]:
# TO DO show the heatmap to view relation between the features which you selected above

### Step IV. Data Preparation

#### Dropping of the particular column value:

We don't require the column id and date at this point so we will be dropping them from the dataset.

In [9]:
# TO DO drop two features `id` and `date` using `drop()` from pandas

In [ ]:
# TO DO show 5 first rows of the dataset using `head()`

In [79]:
# DON'T CODE IN THIS LINE

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Splitting the Data into Training and Testing Sets

In [12]:
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

In [14]:
# TO DO create X(Independent features) and y(target feature)
# Hide: 
# With X you can use panda and remove the target feature
# With y you can use panda and select only the target feature

In [83]:
# TO DO Splitting the data into train,test data with the ratio 7:3

### Step V. Build and Train model

In [84]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import explained_variance_score
from sklearn.metrics import confusion_matrix

#### Multiple Linear Regression

Fitting the train set to multiple linear regression and getting the score of the model

In [91]:
# TO DO building, training and scoring the linear regression model

#### Decision Tree Regression

Fitting the train set to decision tree regression and getting the score of the model

In [15]:
# TO DO building, training and scoring the decision tree regression model

#### Random Forest Regression

Fitting the train set to random forest regression and getting the score of the model

In [16]:
# TO DO building, training and scoring the random forest regression model

#### Calculate Model Score

Let's calculate the model score to understand how our model performed along with the explained variance score.

In [94]:
#Let's have a tabular pandas data frame, for a clear comparison

models_score =pd.DataFrame({'Model':['Multiple Linear Regression','Decision Tree','Random forest Regression'],
                            'Score':[mlr_score,decision_score,rf_score]
                           })
models_score.sort_values(by='Score',ascending=False)

                        Model     Score
2    Random forest Regression  0.884785
1               Decision Tree  0.768206
0  Multiple Linear Regression  0.687790